body {
  width: 80%;
  margin: auto;
  font-family: 'Grandstander', cursive;
}

h1 {
  text-align: center;
}

.imgContainer {
  width: 120px;
}

.imgActor {
  width: 70px;
}

.imgContainer img,
.imgActor img {
  width: 100%;
}

.itemDescription {
  padding-left: 15px;
}

.itemDescription:hover {
  cursor: pointer;
  color: cadetblue;
}

.leftContainer,
.rightContainer {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  margin-top: 25px;
}

.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg');
  background-size: 100%;
  align-self: flex-start;
}

.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg');
  background-size: 100%;
  align-self: flex-start;
}

.deleteIcon {
  width: 40px;
  height: 40px;
  background-image: url('https://wiki.geogebra.org/uploads/thumb/8/8c/Menu-edit-delete.svg/1200px-Menu-edit-delete.svg.png');
  background-size: 100%;
  align-self: flex-end;
}

.deleteIcon:hover {
  cursor: pointer;
}

.itemActor {
  width: 120px;
}

.itemActor img {
  border-radius: 50%;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
